/* CSS * index.html *  ---------------------------------------------------------------------------------------------------------------------------- */
@font-face {
    font-family: 'Future' ;
    src: url('/src/font/NovaSquare-Book.ttf') format('opentype'), url('/src/font/Perfect\ Futures\ Italic.ttf') format('truetype');

}


body {
    background-color: #1E1E1E;
    color: #fff;
}







/* CSS Cabeçalho*/
.cabecalho {
    height: 22px; 
    width: 100%;  
    background-color: #0b0b0b;
    border-bottom: solid 3px #FFE168;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
}

.cabecalho img {
    display: flex;
    gap: 30px;
    height: 35px;
}

.cabecalho .menu {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 1px;
}

.cabecalho .menu li {
    padding: 20px;
    color: #868686;
    font-size: 13px;
    font-family: 'Future',sans-serif;
}


.cabecalho h4:hover {
    color: #FFE168;
}






/*CSS Início*/
.inicio {
    background-color: aqua;
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);
}

.inicio .imagem-fundo {
    width: 100%;
    object-fit: cover;
}

.inicio .informacoes {
    background-color: none;
    position: absolute;
    min-height: calc(100vh - 80px);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 80px 80px 89px 170px;
    max-width: 690px;
}

.inicio .informacoes {
    display: flex;
    gap: 32px;
    font-family: 'Future', serif; 
}

.inicio .informacoes .titulo {
    font-family: 'Future',sans-serif;
    font-size: 37px;
}

.inicio .informacoes .texto {
    font-family: 'Future',sans-serif;
    font-size: 20px;
    line-height: 1.6;
} 

.btn-contato {
    height: 70px;
    width: 120px;
    clip-path: polygon(20px 0, 130% 0, 90% 100%, 0 100%, 0 20px);
    background-color: rgba (255, 255, 255, .1);
    background-color: #FFE168;
    color: #292222;
    font-family: 'Future',sans-serif;
    font-size: 19px;
    text-align: center;
    padding: 20px 40px;
    width: 50%;
    transition: all .3s ease-in;
}

.btn-contato:hover {
    background-color: #574c21;
    color: #FFE168;
    border: 0;
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-sociais {
    background-color: none;
    width: 90%;
    gap: 10px;
}

.btn-redes-1 {
    height: 70px;
    width: 70px;
    clip-path: polygon(10px 0, 140% 0, 90% 100%, 0 100%, 0 10px);
    background-color: rgba (255, 255, 255, .1);
    background-color: #FFE168;
    color: #292222;
    font-family: 'Future',sans-serif;
    font-size: 19px;
    text-align: center;
    padding: 10px;
    transition: all .3s ease-in;
}

.btn-redes-1 img {
    height: 50px;
    width:50px;
}

.btn-redes-1:hover {
    background-color: #574c21;
    color: #FFE168;
    border: 0;
}






/* CSS Divisória*/







/* CSS Um pouco sobre mim*/
.sobre-mim {
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: none;
    align-items: center;
}

.sobre-mim h3 {
    font-family: 'Future',sans-serif;
    color: #FFE168;
}

.titulo-sobre-mim {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 40px;
    background-color: #1E1E1E;
    width: 100%;
    font-family: 'Future',sans-serif;
    font-size: 35px;
}

.sobre-mim .sobre-mim-texto {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #1E1E1E;
    height: 2000px;
}

.texto-imagem {
    display: flex;
    flex-direction: row;
    background-color: #1E1E1E;
    height: 550px;
    width: 100%;
    gap: 50px;
    margin-bottom: 20px;
}

.texto-imagem img {
    width: 400px;
}

.texto-imagem .imagem {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: none;
    font-family: 'Future', serif; 
    font-size: 20px;
}

.texto-imagem .texto {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    padding: 10px;
    font-family: 'Future', serif; 
    font-size: 20px;
}






/* CSS Meus projetos*/
.titulo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 35px;
    padding-left: 5px;
    padding-top: 20px;
    width: 100%;
    font-family: 'Future', sans-serif;
    font-size: 35px;
    
}
.projetos {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 40px;
    padding: 40px;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projetos-blocos-maior {
    background-color: #292929;
    width: 85%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.projetos-blocos-menor {
    background-color: #292929;
    width: 85%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.projetos-blocos-menor a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projetos-blocos-menor a img {
    height: 250px;
    width: 250px;
}

.bloco {
    height: 280px;
    width: 280px;
    background-color: #292929;
}

.ver-mais {
    background-color: #292929;
    width: 85%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.texto-ver-mais {
    font-family: 'Future', sans-serif;
    width: 70%;
    font-size: 20px;
    background-color: #292929;
}

.btn {
    background-color: #292929;
}

.btn-bloco {
    height: 280px;
    width: 280px;
    clip-path: polygon(20px 0, 150% 0, 90% 105%, 0 100%, 0 20px);
    background-color: rgba (255, 255, 255, .1);
    background-color: #423E3E;
    color: #FFE168;
    font-family: 'Future',sans-serif;
    text-align: center;
    justify-content: center;
    padding: none;
    transition: all .3s ease-out;
}

.btn-bloco img {
    position: absolute;
    transition: all .3s ease-out;
}

.btn-bloco:hover {
    height: 310px;
    width: 310px;
    background-color: #423E3E;
}

.btn-bloco img:hover {
    height: 300px;
    width: 300px;
    background-color: #574c21;
    color: #ffffff;
    border: 0;
    opacity: 0%;
}

.btn-bloco p {
    padding: 20px;
    font-size: 20px;
    font-family: 'Future', sans-serif;
    font-weight: bolder;

}




/*
.habilidades  {
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px;
    align-items: center;
}

.habilidades .cartao {
    background-color: #292929;
    clip-path: polygon(80px 0, 150% 0, 90% 100%, 0 100%, 0 80px);
    width: 75%;
    padding: 60px;
}

.habilidades .habilidades-txt {
    display: flex;
    flex-direction: column;
    background-color: #292929;
    gap: 25px;
}

.habilidades .habilidades-txt h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 52px;
    font-weight: 700;
    color: #FFE168;
}

.habilidades .habilidades-txt p {
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;

}
*/







/* CSS Minhas habilidades simbolos */
.habilidades-simbolo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    
}







/*CSS Minhas habilidades transição */
.tooltip-html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #d9ff00;
    width: 150PX;
    height: 150px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    padding: 15px;
    gap: 20px;
}

.tooltip-html img {
   width: 150px;
   transition: all .3s ease-in-out;
position: absolute;
}

.tooltip-html:hover {
    width: 100%;
    height: 290px;
    font-size: 13px;
    color: #f8f8f8;
    background-color: #383838;
}

.tooltip-html img:hover {
    width: 30%;
    opacity: 0%;
    z-index: 1;
    position: absolute;

}

.tooltip-html p {
    visibility: hidden;
}

.tooltip-html h1 {
    visibility: hidden;
}

.tooltip-html:hover p {
    visibility: visible;
}

.tooltip-html:hover h1 {
    visibility: visible;
}


















