@charset "UTF-8";

@media screen and (max-width: 768px) {
    /*Responsividade: Página - Projetos */
 /* CSS Meus projetos*/
    .cabecalho {
    height: 60px; 
    width: 100%;  
    background-color: #0b0b0b;
    border-bottom: solid 3px #FFE168;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cabecalho img {
    display: flex;
    gap: 30px;
    height: 35px;
    display: none;
}

.cabecalho .menu {
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 1px;
}

.cabecalho .menu li {
    padding: 14px;
    color: #868686;
    font-size: 10px;
    font-family: 'Future', sans-serif;
}


.cabecalho h4:hover {
    color: #FFE168;
}
    
 .titulo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 35px;
    padding: 5px;
    width: 100%;
    font-family: 'Future', sans-serif;
    font-size: 35px;
    margin-top: 70px;
    color: #FFE168;
}

.titulo p {
    width: 70%;
    color: white;
}
.projetos {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin-bottom: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    display: flex;
    align-items: center;
}

.projetos-blocos-maior {
    background-color: #292929;
    width: 100%;
    height: 600px;
    gap: 60px;
    margin-top: none;
    margin-bottom: 100px;
}

.projetos-blocos-menor {
    background-color: #292929;
    width: 85%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.projetos-blocos-menor a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projetos-blocos-menor a img {
    height: 250px;
    width: 250px;
}

.bloco {
    height: 280px;
    width: 280px;
    background-color: #292929;
}

.ver-mais {
    background-color: #292929;
    width: 85%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.texto-ver-mais {
    font-family: 'Future', sans-serif;
    width: 90%;
    font-size: 20px;
    background-color: #292929;
    text-align: center;
}

.btn {
    background-color: #292929;
}

.btn-bloco {
    height: 280px;
    width: 280px;
    clip-path: polygon(20px 0, 150% 0, 90% 105%, 0 100%, 0 20px);
    background-color: rgba (255, 255, 255, .1);
    background-color: #423E3E;
    color: #FFE168;
    font-family: 'Future',sans-serif;
    text-align: center;
    justify-content: center;
    padding: none;
    transition: all .3s ease-out;
}

.btn-bloco img {
    position: absolute;
    transition: all .3s ease-out;
}

.btn-bloco:hover {
    height: 310px;
    width: 310px;
    background-color: #423E3E;
}

.btn-bloco img:hover {
    height: 300px;
    width: 300px;
    background-color: #574c21;
    color: #ffffff;
    border: 0;
    opacity: 0%;
}

.btn-bloco p {
    padding: 20px;
    font-size: 20px;
    font-family: 'Future', sans-serif;
    font-weight: bolder;

}



 /*CSS Rodapé*/
 :root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;

}

footer {
    width: 100%;
    color: var(--color-neutral-40);
}

.footer-link {
    text-decoration: none;
}

#footer_content {
    background-color: var(--color-neutral-10);
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: var(--color-neutral-0);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100%;
}
}
